* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f143;
  transition: background-color 0.5s;
}

.body--dark {
  background-color: #1b1b1b;
}

main {
  background-color: #275f5f;
  width: 70%;
  height: 15rem;
  margin: auto;
  position: relative;
  top: 16rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  position: relative;
  height: 40%;
  width: 50%;
}

#checkbox {
  position: absolute;
  top: 0rem;
  right: 0rem;
  z-index: 8;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;

  color: #fff;
}

#checkbox:checked+.switch .toggler {
  transform: translateX(-260%);
}

.switch {
  // position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: #000000;
  border: 1px solid #dfdfdf;
  //   position: absolute;
  //   top: 3.5rem;
  //   right: 2rem;

  margin: auto;
  border-radius: 4px;
  padding: 0.2rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   cursor: pointer;
  transition: 0.3s ease;

  & #switch-sun,
  & #switch-moon {
    color: #fff;
    z-index: 4;
    font-size: 1rem;
  }

  & #switch-sun {
    color: #f1f143;
    font-size: 4rem;
  }

  & #switch-moon {
    transform: rotate(220deg);
    font-size: 4rem;
  }

  & .toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "OFF";
    position: absolute;
    width: 7rem;
    height: 7rem;
    right: 12rem;
    background-color: #383838;
    z-index: 5;
    border-radius: 100%;
    border: 1px solid #dfdfdf;
    transition: 0.3s ease;
    top: -.5rem;
    right: -1.3rem;
  }

  & .toggler2 {
    left: -0.7rem;
  }
}

.main_dark {
  background-color: #183b3b;
}

.h1_dark {
  color: #fff;
}

.btn_dark {
  border: 1px solid #275f5f;
  background-color: #183b3b;
  color: #fff;
}